.hero {
    /* height: auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    background-color: black;
    /* background-position: center;
    background-size: cover; */
    position: relative;
    overflow: hidden;
    /* padding: 20px; */


  }
  
  .hero__content {
    display: flex;
    justify-content: center;
    text-align: center;
    /* z-index: 1; */
    align-items: center;
    width: 100%;
    /* height: auto; */
    /* position: absolute; */
    top: 0;
    left: 0;
    /* padding: 20px; */
    font-size: xx-small;
    color: white;
    /* padding: 20px; */
  
  }
  
  .hero__button {
    background-color: #d0021b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    font-size: small;
    margin: 10px;

  }
  
  .hero__button:hover {
    background-color: #a50000;
  }
  .image-section {
    text-align: center;
    /* margin: 65px; */
    width: 100%;
   
  }
  
  .image-section_image {
    width: 100%;
    display: block;
    height: auto;
    
  }
  
  /* BrowseCategories.css */
  .browse-categories-section {
    padding: 40px;
  }
  
  .categories-container {
    display: flex;
    gap: 20px;
  }